[submodule "statistic-client"]
	path = apps/statistic-client
	url = https://github.com/rcr-open-source/statistic-client.git
[submodule "statistic-server"]
	path = apps/statistic-server
	url = https://github.com/rcr-open-source/statistic-server.git
[submodule "statistic-client-relay"]
	path = packages/statistic-client-relay
	url = https://github.com/rcr-open-source/statistic-client-relay.git
[submodule "statistic-client-components"]
	path = packages/statistic-client-components
	url = https://github.com/rcr-open-source/statistic-client-components.git
[submodule "statistic-server-core"]
	path = packages/statistic-server-core
	url = https://github.com/rcr-open-source/statistic-server-core.git
[submodule "statistic-server-database"]
	path = packages/statistic-server-database
	url = https://github.com/rcr-open-source/statistic-server-database.git
[submodule "packages/statistic-server-client-database"]
	path = packages/statistic-server-client-database
	url = https://github.com/rcr-open-source/statistic-server-client-database.git
[submodule "packages/statistic-server-client-graphql"]
	path = packages/statistic-server-client-graphql
	url = https://github.com/rcr-open-source/statistic-server-client-graphql.git
[submodule "packages/statistic-server-graphql-logs-graphql"]
	path = packages/statistic-server-graphql-logs-graphql
	url = https://github.com/rcr-open-source/statistic-server-graphql-logs-graphql.git
[submodule "packages/statistic-server-graphql-route"]
	path = packages/statistic-server-graphql-route
	url = https://github.com/rcr-open-source/statistic-server-graphql-route.git
